
@{
    ViewData["Title"] = "BasicInformations";
}

<h1>BasicInformations</h1>

<div class="main child">
    <div class="container pb-3">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthdate</th>
                    <th>Pesel</th>
                    <th>Education</th>
                    <th>Profession</th>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>

        </div>
    </div>
</div>
}

