
@{
    ViewData["Title"] = "Pregnency";
}

<h1>Pregnency</h1>


<div class="main child">
    <div class="container pb-3">
        <div class="text-center">
            <h1 class="display-4">Pregnency</h1>
            <div class="Checkboxes">


            </div>
        </div>
    </div>
</div>
}
