@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 16px;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 15px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

h1 {
    margin-bottom: 30px;
}

.header {
    top: 0;
    position: fixed;
    width: 100%;
}

.input-1 {
    width: 70%;
    float: right;
    margin-right: 20px;
}

.input-2 {
    font-size: 19px;
    text-align: center;
    letter-spacing: 3px;
}

.form-buttons {
    float: right;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.button {
    border: 2px solid #0062cc;
    border-radius: 5px;
    background-color: white;
    color: #0062cc;
    padding: 0px 5px;
    font-size: 12px;
    cursor: pointer;
}

.button:hover {
    background-color: #0062cc;
    color: white;
}

.btn-type-1 {
    display: none;
}

.btn-type-2 {
    display: inline;
}

.btn-link-group {
    position: absolute;
    top: 35%;
    left: 27%;
}

.btn-link-left {
    padding: 34px 55px;
    font-size: 30px;
    margin-right: 5px;
}

.btn-link-right {
    padding: 34px 74px;
    font-size: 30px;
    margin-left: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 53px;
    left: 0;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-top: 60px;
    margin-bottom: 60px;
}

.child {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.form-css {
    width: 50%;
    position: relative;
    border-radius: 15px;
    border: 2px solid #0062cc;
    padding: 10px 0px 10px 0px;
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    left: 19%;
    position: absolute;
    top: 6px;
}

.tbl {
    border-collapse: separate !important;
    border: 2px solid #0062cc;
    border-radius: 15px;
    border-spacing: 0;
    font-size: 17px;
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 15px;
}

.tbl-header-left {
    background-color: #5197ffd6;
    border-radius: 15px 0px 0px 0px;
    width: 60%;
}

.tbl-header-right {
    background-color: #5197ffd6;
    border-radius: 0px 15px 0px 0px;
    width: 40%;
}

.tbl-span-search {
    float: left;
    margin-left: 10%;
    margin-bottom: 5px;
}

.tbl-span-pages {
    float: right;
    margin-right: 20%;
}

.prepend-span {
    width: 100%;
}

.prepend-group {
    width: 26%;
}

.input-group {
    width: 98%;
    margin-left: 1%;
}

.group-2 {
    width: 40%;
    float: left;
    margin-top: 35px;
    left: 30%;
}