
@{
    Layout = "_MainLayout";
}

<div class="sidenav">
    <a asp-area="" asp-controller="Child" asp-action="BasicData">Dane dziecka</a>
    <a asp-area="" asp-controller="Child" asp-action="Second">Second</a>
    <a asp-area="" asp-controller="Child" asp-action="Third">Third</a>
</div>

@RenderBody()