@{
    ViewData["Title"] = "Dane dziecka";
    Layout = "_ChildLayout";
}

<div class="main child">
    <div class="container pb-3">
        <div class="text-center">
            <h1 class="display-4">Dane dziecka</h1>
            <div class="form-css" id="form-css" style="float:left; left: 0;">
                <div class="buttons">
                    <button id="first_btn1" style="display: none;">Save</button>
                    <button id="first_btn2" style="display: inline;">Edit</button>
                </div>
                <div style="width: 100%; float: inherit;">
                    <label for="surname">Nazwisko:</label>
                    <input class="input-1" type="text" id="surname" />
                </div>
                <label for="names">Imię (imiona):</label>
                <input class="input-1" type="text" id="names" /><br />
                <label for="birth-date">Data urodzenia:</label>
                <input type="date" id="birthdate" /><br />
                <label for="birth-place">Miejsce urodzenia:</label>
                <input class="input-1" type="text" id="birthplace" /><br />
                <label for="address">Adres(y):</label>
                <input class="input-1" type="text" id="address" /><br />
            </div>

            <div class="form-css" id="form-css" style="float:right; left: 10px">
                <div class="buttons">
                    <button id="second_btn1" style="display: none;">Save</button>
                    <button id="second_btn2" style="display: inline;">Edit</button>
                </div>
                <div style="width: 100%; float: inherit;">
                    <label for="pesel">Numer ewidencyjny PESEL:</label>
                    <input type="text" id="pesel" style="width: 23%; font-size:20px; margin-left: 5px; text-align: center;" />
                </div>
            </div>

            <div class="form-css" id="form-css" style="float: right; left: 10px; margin-top: 10px">
                <div class="buttons">
                    <button id="third_btn1" style="display: none;">Save</button>
                    <button id="third_btn2" style="display: inline;">Edit</button>
                </div>
                <h4>Grupa krwi i czynnik Rh dziecka</h4>
                <label for="blood-type">Grupa krwi:</label>
                <input type="text" id="blood-type" style="margin: 10px 4px 10px 10px;" />
                <label for="blood-rh">Rh:</label>
                <input type="text" id="blood-rh" /><br />
                <label for="date-exam">Data badania:</label>
                <input type="text" id="date-exam" style="width: 70%;" /><br /><br />

                <input type="text" id="pesel" style="width: 48%;" placeholder="Id laboratorium" />
                <input type="text" id="pesel" style="width: 48%;" placeholder="Id osoby upoważnionej" />
            </div>

        </div>
    </div>
</div>


