@{
    ViewData["Title"] = "Child Page - First";
}

<div class="main child">
    <div class="container pb-3">
        <div class="text-center">
            <h1 class="display-4">First</h1>
             
            </div>
    </div>
</div>

@section Sidenav {
    <div class="sidenav">
        <a asp-area="" asp-controller="Child" asp-action="First">First</a>
        <a asp-area="" asp-controller="Child" asp-action="Second">Second</a>
        <a asp-area="" asp-controller="Child" asp-action="Third">Third</a>
    </div>
}
