@{
    ViewData["Title"] = "Poród";
    Layout = "_ChildLayout";
}

<div class="main child">
    <div class="container pb-3">
        <div class="text-center">
            <h1 class="display-4">Poród</h1>

        
        </div>
    </div>
</div>
