@{
    ViewData["Title"] = "Child Page - Search";
}

<div class="main child">
    <div class="container pb-3">
        <div class="text-center">
            <h1 class="display-4">Wyszukiwanie</h1>

            <div>
                <span class="tbl-span-search">
                    <input type="text" placeholder="Search">
                    <button id="btn_search" class="button btn-type-2">Search</button>
                </span>
                <span class="tbl-span-pages">
                    <button id="btn_prev" class="button btn-type-2">Previous</button>
                    <button id="btn_next" class="button btn-type-2">Next</button>
                </span>
                <table class="tbl">
                    <tr>
                        <th style="width:60%;">Imię,Nazwisko</th>
                        <th style="width:40%;">PESEL</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>90031206959</td>
                    </tr>
                    <tr>
                        <td>Berglunds snabbkop</td>
                        <td>95198498819</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>61515195159</td>
                    </tr>
                    <tr>
                        <td>Koniglich Essen</td>
                        <td>15811591555</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>19559159195</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
